* {
  transition: all .2s ease-in;
}

html {
  scroll-behavior: smooth;
}

iframe {
  min-height: 200px;
  max-height: 300px;

  @include tamanho-tela(celular) {
    min-height: 300px;
    max-height: 400px;

  }

  @include tamanho-tela(desktop) {
    min-height: 500px;
    max-height: 800px;

  }
}

html,
body {
  font-size: 100%;

  @include tamanho-tela(celular) {
    font-size: 110%;

  }

  @include tamanho-tela(tablet) {
    font-size: 115%;

  }

  @include tamanho-tela(desktop) {
    font-size: 120%;

  }
}

img {
  max-width: 100%;
}

.box-point {
  width: 76%;
  margin-top: 1em;
  margin-bottom: .5em;

  @include tamanho-tela(celular) {
    margin-top: 3em;
  }

  @include tamanho-tela(tablet) {
    width: 63%;
  }
  
  &.dots-color {
    width: 208px;
    margin: 1.2em auto 1.5em auto;
    .point {
      background-color: $cor-pri;
      &:nth-child(2n+1) {
        background-color: $cor-sec;
      }
    }
  }

  .point {
    background-color: $branco;
    border-radius: 50%;
    width: .8em;
    height: .8em;

    @include tamanho-tela(celular) {
      width: .5em;
      height: .5em;
    }

    @include tamanho-tela(tablet) {}

    @include tamanho-tela(desktop) {}
  }

}

hr.divisor {
  border: 5px solid $cor-sec;
  border-radius: 50px;
  margin: 10px 0;
}

.logo {
  display: block;

  h1 {
    margin-bottom: 0;
    font-family: $font-padrao;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5em;
    line-height: 111.2%;
    text-transform: uppercase;
    text-align: left;

    @include tamanho-tela(desktop) {
      font-size: 1.9em;
    }

    &:nth-child(2),
    &:nth-child(3) {
      color: $cor-sec;
    }
  }

}

h2.subtitulo-logo {
  font-family: $font-padrao;
  font-size: 1.2em;
  text-align: left;

  @include tamanho-tela(desktop) {
    font-size: 1.4em;
  }
}

.proxima-secao {
  margin-top: 50px;
  width: 32px;
  height: 32px;
  animation: bounce 2s infinite;

  @include tamanho-tela(celular) {}

  @include tamanho-tela(tablet) {}

  @include tamanho-tela(desktop) {
    width: 57px;
    height: 57px;
    margin-top: 60px;
    // font-size: 3.8281em;
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-30px);
    }

    60% {
      transform: translateY(-15px);
    }
  }
}

// Video explicativo
.video-explicativo {
  margin: 5em 0;

  .chamada-modal {
    cursor: pointer;
  }
}

.subtitulo {
  text-align: center;
  font-family: $font-padrao;
  font-size: 1em !important;
  text-transform: uppercase;

  @include tamanho-tela(celular) {
    font-size: 1.1em !important;
  }

  @include tamanho-tela(tablet) {
    font-size: 1.2em !important;
  }
}

.section-1 {
  padding: 5em 0;
  background-color: $cor-comp-2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  p {
    font-size: 1em;
    text-align: center;

    @include tamanho-tela(tablet) { 
      text-align: left;
    }
  }
}