//Cores padrões do site

//Cores Principais
$cor-pri-2: #2D6AAB;
$cor-pri-1: #306297;
$cor-pri: #2B78B9;
$cor-pri-3: #69A7FF;
$cor-pri-4: #F2C94C;

//Cores Secundárias
$cor-sec-2: #4EC17A;
$cor-sec-1: #55CD6C;
$cor-sec: #69EF9C;
$cor-sec-3: #51CA7F;
$cor-sec-4: #F44336;

//Cores complementares
$cor-comp-1: #E4DFD9;
$cor-comp: #ADACA7;
$cor-comp-2: #F3F1F1;

$preto: #000;
$branco: #FFF;

// Fontes padrões
@font-face {
  font-family: 'Boomer';
  src: url('../fonts/Boomer-ExtraBold.eot');
  src: url('../fonts/Boomer-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Boomer-ExtraBold.woff2') format('woff2'),
    url('../fonts/Boomer-ExtraBold.woff') format('woff'),
    url('../fonts/Boomer-ExtraBold.ttf') format('truetype'),
    url('../fonts/Boomer-ExtraBold.svg#Boomer-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

$font-padrao: 'Boomer';