//Cores padrões do site

//Cores Principais
$cor-pri-2: #A699FF;
$cor-pri-1: #76E;
$cor-pri: #54C;
$cor-pri-3: #43B;
$cor-pri-4: #21A;

//Cores Secundárias
$cor-sec-2: #FB6;
$cor-sec-1: #EA5;
$cor-sec: #C94;
$cor-sec-3: #B82;
$cor-sec-4: #A67411;

//Cores complementares
$cor-comp-1: #C6C3D9;
$cor-comp: #82808C;
$cor-comp-2: #3B394A;

$preto: #000;
$branco: #FFF;